

body { 
	background-image: url(../images/video_game_character_collection_by_machojoey23-d4pqje4.jpg);
	background-repeat: repeat;
    background-position: center top;
    
}

form {
    margin-bottom: 3em;
}

h1 {
    margin-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    

}

.container{
    margin-top: 20px;
    background-color:lightslategray;
    margin-bottom: 20px;

}

#start {
    margin: 320px 0 480px 0;
}

#done{
    margin-bottom: 40px;
}

#summary {
    margin-top: 60px;
    margin-bottom: 480px;
}